<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <h1>THE FINALS - Weapon Database</h1>

      <nav>
        <a href="/">Home</a>
        <a href="/list">List</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        {{#if user}}
          {{#if (eq user.username "admin")}}
            <a href="/users">Users</a>
          {{/if}}
          <a href="/logout">Logout</a>
          <span>Logged in as {{user.username}}</span>
        {{else}}
          <a href="/login">Login</a>
        {{/if}}
      </nav>

  </header>

  <main>
    {{{body}}}
  </main>

  <footer>
    <p>&copy; 2025 THE FINALS School Project</p>
  </footer>
</body>
</html>
