<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <h1>THE FINALS - Weapon Database</h1>
  
    <nav>
      <a href="/">Home</a> |
      <a href="/weapons">Weapons</a> |
      <a href="/gadgets">Gadgets</a> |
      <a href="/specializations">Specializations</a> |
      <a href="/maps">Maps</a> |
      {{#if user}}
        <a href="/logout">Logga ut</a>
        <span>| Logged in as {{user.username}}</span> |
      {{else}}
        <a href="/login">Logga in</a>
        <span>| Not logged in</span> |
      {{/if}}
    </nav>
  </header>

  <main>
    {{{body}}}
  </main>

  <footer>
    <p>&copy; 2025 THE FINALS School Project</p>
  </footer>
</body>
</html>
