<h2>{{title}}</h2>
<form action="/users/{{user.id}}/edit" method="POST">
  <label>Username:</label><br>
  <input type="text" name="username" value="{{user.username}}" required><br><br>
  <label>New Password (leave blank to keep current):</label><br>
  <input type="password" name="password"><br><br>
  <button type="submit">Save</button>
</form>
