<section>
  <h2>Welcome</h2>
  <p>This fan project lists all weapons from THE FINALS.</p>
  <p>Select a class to explore available weapons:</p>
  <ul>
    <li><a href="/weapons?class=Light">Light</a></li>
    <li><a href="/weapons?class=Medium">Medium</a></li>
    <li><a href="/weapons?class=Heavy">Heavy</a></li>
  </ul>
</section>
