<section>
  <h2>Welcome</h2>
  <p>This school project lists all weapons from THE FINALS.</p>
  {{#if user}}
    <p class="status-message">You are logged in as: {{user.username}}.</p>
  {{else}}
    <p class="status-message">You are not logged in.</p>
  {{/if}}
  <p>Select a class to explore available weapons:</p>
  <ul>
    <li><a href="/class/Light" class="class-link">Light</a>
    <img src="/img/light.png" alt="Light Class"></li>
    <li><a href="/class/Medium" class="class-link">Medium</a>
    <img src="/img/medium.png" alt="Medium Class"></li>
    <li><a href="/class/Heavy" class="class-link">Heavy</a>
    <img src="/img/heavy.png" alt="Heavy Class"></li>
  </ul>
</section>
