<h2>Game Assets List</h2>
<p>Choose what to browse:</p>
<ul>
  <li><a href="/weapons">Weapons</a></li>
  <li><a href="/gadgets">Gadgets</a></li>
  <li><a href="/specializations">Specializations</a></li>
  <li><a href="/maps">Maps</a></li>
</ul>
